<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="navbar">
		<div id="homepage_link">
			<%= link_to "Home", root_path %><br>
			<%= link_to "About Me", about_path %><br>
		</div>
		<% if !user_signed_in? %>
			<%= link_to "Sign In", login_path %><br>
		<% end %>
	</div>

	<div id"main_content">
		<div id="header">
			<% if current_page?(root_path) %>
				<p>All Posts</p>
			<% elsif current_page?(about_path) %>
				<p>About</p>
			<% else %>
				<%= link_to "Back to All Posts", root_path %>
			<% end %>
			<% if user_signed_in? %>
				<div class="buttons">
					<button class="button"> <%= link_to "New Post", new_post_path %></button>
					<button class="button"><%= link_to "Log Out", logout_path %></button>
				</div>
			<% end %>
		</div>
	

		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
		<% end %>

		<%= yield %>
	</div>
</body>
</html>
